.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

button {
  margin: 10px;
}

select {
  margin: 10px;
}

.random-meme-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  margin-bottom: 20px;
}

.custom-meme-generator {
  display: flex;
  height: 100vh;
}

.attributes-panel {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.attribute-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.attribute-row img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.meme-render {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
