@import url('https://fonts.googleapis.com/css2?family=OCR+A+Std&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html, body {
  background-image: url('../public/images/bg.png');
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Full viewport height */
}

.App {
  text-align: center;
  background-color: #633220; /* Choose your preferred background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../public/images/bg.png');
  background-size: auto; /* Keep the image's original size */
  background-repeat: repeat; /* Repeat the image to cover the entire background */
  background-attachment: fixed; /* Ensure the background image stays fixed during scroll */
  background-position: top left; /* Start the repeating from the top left */
  overflow: hidden;
}

.App-header {
  background-image: url('../public/images/header.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  height: 140px; /* Adjust the height as needed */
  width: 100%;
  overflow: hidden;
}

.App-content {
  padding: 20px;
  width: 100%; /* Ensure content takes the full width of the container */
  box-sizing: border-box; /* Ensure padding is included in the element's total width */
}

.App-content h1 {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #d59276;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 
    3px 3px 0 #d59276,  /* Outline shadow for depth */
    -3px 5px 0 #2a1717, 
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
  background: linear-gradient(45deg, #ffde68, #ffcc00); /* Gradient color for more vivid effect */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.button-group {
  margin: 20px 0;
}

button {
  margin-bottom: 20px;
}

.btn {
  font-family: 'OCR A Std', monospace;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bolder;
  line-height: 100%;
  color: #332020;
  background: #b6977b;
  border: 1px solid #673421;
  box-shadow: -2px 3px 0 #d49276;
  padding: 14px 36px;
  border-radius: 15px;
  text-transform: uppercase;
  gap: 10px;
  text-align: center;
  outline: 0;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.custom-btn {
  font-family: 'OCR A Std', monospace;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bolder;
  line-height: 100%;
  color: #332020;
  background: #b6977b;
  border: 1px solid #673421;
  box-shadow: -2px 3px 0 #d49276;
  padding: 14px 36px;
  border-radius: 15px;
  text-transform: uppercase;
  gap: 10px;
  text-align: center;
  outline: 0;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px; /* Add margin to separate the button from the meme */
}

.btn-head {
  font-family: 'OCR A Std', monospace;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  color: #b29377;
  background: #6a3724;
  border: 1px solid #25120b;
  box-shadow: 0 4px 0 #d49276;
  padding: 14px 36px;
  border-radius: 15px;
  text-transform: uppercase;
  gap: 10px;
  text-align: center;
  outline: 0;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.btn-head:hover {
  background: #fcac8a; /* Adjust the hover background color if needed */
  box-shadow: 0 4px 0 #342121;
  color: #6a3724 ;
}

.btn:hover {
  background: #fcac8a; /* Adjust the hover background color if needed */
  box-shadow: 0 4px 0 #342121;
}

.custom-btn:hover {
  background: #fcac8a; /* Adjust the hover background color if needed */
  box-shadow: 0 4px 0 #342121;
}

/* Styling for the Random Meme and Custom Meme buttons */
.button-group .btn-head {
  margin: 0 10px;
}

.random-meme-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 30px; /* Adjust this value to move the button closer to the header */
}

.meme-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-meme-wrapper {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px; /* Adjust the margin to create space between the meme and the button */
  margin-right: 50px;
  position: relative;
}

.custom-meme-generator {
  display: flex;
  height: 100vh;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add margin to create space between the meme and the button */
}

.attributes-panel {
  flex: 1;
  flex-wrap: wrap;
  padding: 20px;
  overflow-y: auto;
  background-color: #b6977b;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 50px;
  text-align: left;
  max-width: 400px; /* Optional: Limit the maximum width of the attributes panel */
  height: calc(86vh - 160px - 40px); /* Adjust height to fit within the available space */
}

.attributes-panel h3 {
  font-family: 'OCR A Std', monospace;
  font-size: 20px;
  font-weight: bold;
  color: #332020;
  margin-bottom: 10px;
}

.attribute-row-container {
  display: flex;
  align-items: center;
}

.attribute-row {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.attribute-row::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.attribute-row img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 2px solid #d96340;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  margin-top: 5px;
  margin-left: 10px;
}

.scroll-btn {
  background: #332020;
  color: #c1a286;
  border: none;
  font-size: 18px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
}

.scroll-btn:hover {
  background: #894b32;
}

.attribute-row img.selected {
  border-color: #332020;
}


/* Responsive adjustments for mobile */
@media (max-width: 768px) {
  .App-header {
    height: 140px;
    padding: 10px;
  }

  .App-content h1 {
    font-size: 32px;
  }

  .button-group {
    flex-direction: column;
    margin: 10px 0;
  }

  .btn-head {
    font-size: 16px;
    padding: 10px 20px;
  }

  .btn, .custom-btn {
    font-size: 18px;
    padding: 10px 20px;
  }

  .attributes-panel {
    margin-right: 20px;
    max-width: 100%;
  }

  .scroll-btn {
    width: 30px;
    height: 30px;
  }

  .scroll-btn svg {
    width: 16px;
    height: 16px;
  }

  .attribute-row img {
    width: 40px;
    height: 40px;
  }

  .custom-meme-generator {
    flex-direction: column;
    align-items: center;
  }

  .custom-meme-wrapper {
    margin-right: 0;
  }
}